server {
    listen ${WEBGUI_PORT};
    server_name localhost;

    root /usr/share/nginx/html/renderer;
    index index.html;

    location = / {
        if ($args !~ "ip=") {
            return 302 http://$host:${WEBGUI_PORT}/?ip=$host;
        }
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
