server {
    listen ${WEBGUI_PORT};
    server_name localhost;

    root /usr/share/nginx/html;
    index index.html;

    location = / {
        if ($args !~ "ip=") {
            return 302 http://${SLIMEVR_IP}:${WEBGUI_PORT}/?ip=${SLIMEVR_IP};
        }
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
